body{
    background-color: #ff7ea9;
    font-family: 'Lucida Sans,' 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

h1{
    font-size: 40px;
}
h1{
    font-size: 30px;
}